<!DOCTYPE html>
<html lang="en">

<head>
	{{!-- <meta charset="UTF-8">
		<link rel="stylesheet" href="/assets/css/style.css" type="text/css" /> --}}
	<title>!!</title>
	{{!-- FONT AWESOME --}}
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
		integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
	{{!-- google font --}}
	<link href="https://fonts.googleapis.com/css?family=Baloo+Chettan" rel="stylesheet">
	{{!-- JQ --}}
	<script src="https://code.jquery.com/jquery.js"></script>
	{{!-- BOOTSTRAP --}}
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	
	<link rel="stylesheet" type="text/css" media="screen" href="/assets/css/style.css" />

</head>
<body>
    {{{body}}}
</body>
</html>