body{
    background: green;
}
.navbar{
    background:grey;
}
#savenote {
    margin-right:350px;
}
#bodyinput {
    width:100%;
}
button.btn-note, .btn-delArt, .btn-article {
    width: 130px;
    position: relative;
    float: right;
    margin:0 auto;

}
#submit{
    color:white;
}