body{
    background: green;
}
li.nav-item {
    color:black;
}
#savenote {
    margin-right:350px;
}
#bodyinput {
    width:100%;
}
button.btn-note, .btn-delArt, .btn-article {
    width: 80px;
    display: inline;
    position: relative;
    float: right;
}